
@{
    ViewBag.Title = "Ajax_List";
}

<div class="navlink">
    <a href="/Teacher/New">Add New Teacher</a>
    <a href="/Course/List">Go to Class Overview</a>
</div>
<div class="main-content">
    <h2>Ajax List of Teachers</h2>

    <div>
        <input type="text" id="SearchKey" name="SearchKey" class="myinput" placeholder="please enter teacher's name" autocomplete="off" onkeyup="_ListTeachers(this);" />
    </div>
    <div id="listteachers">
    </div>
    <script>
    //Subsequent calls are made through _ListTeachers (found in /Scripts/teachers.js)
    ListTeachers("");
    </script>

</div>

